{% extends '@nucleus/partials/particle.html.twig' %}
{% set post = TimberPost(post) %}

{% block particle %}
    {% if post.get_field(particle.field.name)  %}
      <div class="custom-field {{ particle.css.class }}">
             {{post.get_field(particle.field.name)|raw }}
      </div>
    {% endif %}
{% endblock %}
